{{#each this}}
<section class="section-modal">
    <div class="modal">      
      <div class="card-div"
            ><img
              class="movie-poster"
              src="./images/Rectangle12.png"
              alt="title"
              loading="lazy"
              data-video='videoId'
          />
      </div>
      <div class="info-modal">
        <button class="close-modal"></button>
        <h2 class="card-title">{{title}}</h2>
        <table class="info-block">
          <tbody>
            <tr>
              <td class="list-keys">Vote / Votes</td>
              <td class="list-values">
                <span class="vote-span">vote_average.toFixed(1)</span> / vote_count
              </td>
            </tr>
            <tr>
              <td class="list-keys">Popularity</td>
              <td class="list-values">popularity.toFixed(1)</td>
            </tr>
            <tr>
              <td class="list-keys">Original Title</td>
              <td class="list-values">original_title.toUpperCase()</td>
            </tr>
            <tr>
              <td class="list-keys">Genres</td>
              <td class="list-values">genresForMkup</td>
            </tr>
          </tbody>
        </table>

        <p class="info-about">About</p>
            <p class="info-overview">overview</p>
            <div class="buttons">
              <button type="submit" id="addWatched" class="button-watched" data-movieId='${id}'>Add to watched</button>
              <button type="submit" id="addFavorite" class="button-queue" data-movieId='${id}'>Add to queue</button>
            </div>    
      </div>
    </div>
</section>
{{/each}}