:root {
  --card-title-text-color: #000000;
  --card-genres-year-text-color: #ff6b08;
  --accent-color: #ff6b08;
  --footer-background-color: #F7F7F7;
  --footer-text-color: #545454;
  --header-color-text: #FFFFFF;
  --modal-info-text: #8C8C8C;
  --dark-mode-shadow: rgba(255, 0, 0, 1);
  --dark-mode-background-color: #ab1a1a;
  --dark-mode-bg-body-style: rgb(74, 72, 72);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

$animation--delay: 100ms;
$animation: 200ms cubic-bezier(0.4, 0, 0.2, 1);
