<section class="soon">
    <div class="container">
        <h1 class="visually-hidden">Filmoteka</h1>
        <h2 class="gallery-coming-soon-title">Coming soon in theatres</h2>
        <div class="swiper-box">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-scrollbar"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>