<section class="gallery">
    <div class="container">
        <ul class="card-list">
            <!-- <li class="card">
                <div class="card-top">
                    <img src="./images/Rectangle12.png" alt="poster">
                </div>
                <div class="card-box">
                    <h3 class="card-title">Monster Hunter</h3>
                    <div class="card-bottom">
                        <p class="card-bottom-genres">Drama, Action |</p>
                        <span class="card-bottom-year">2022</span>
                    </div>
                </div>
                <span class='card-rating'>77</span>
            </li> -->
        </ul>
    </div>
</section>