<header class="header_lib">
    <div class="container_lib container">
        <nav class="header__lib-nav">
            <div class="header__wrap">
                <a href="./index.html" class="logo__icon link">
                <svg class="header__logo-svg" width="24" height="23">
                        <use href="./images/icons.svg#icon-film"></use>
                    </svg>
                    <span class="logo__text"><h1>Filmoteka</h1></span>
                </a>
            </div> 
            <div class="header__pages">
                <ul class="header__pages-list">
                    <li class="header__pages-item">
                        <a class="header__pages-link" href="./index.html">home</a>
                    </li>
                    <li class="header__pages-item current">
                        <a class="header__pages-link" href="">my library</a>
                    </li>
                </ul>
            </div>  
        </nav>
        <div class="header__btn">
            <ul class="header__btn-list">
                <li class="header__btn-item">
                    <button class="header__btn-style">watched</button>
                </li>
                <li class="header__btn-item">
                    <button class="header__btn-style">queue</button>
                </li>
            </ul>
        </div>
    </div>
</header>