<header class="header" id="header">
  <div class="header__container container">
    <div class="header__wrap">
      <!-- ------------------------------------------------Логотип-------------- -->
      <div class="logo__wrap">
        <a href="./index.html" class="logo-home__link link">
          <svg class="header-home__logo" width="28" height="30">
            <use href="./images/icons.svg#icon-film-home"></use>
          </svg>
          <p class="logo-home__text">Filmoteka</p>
        </a>
        <div class="username"></div>
      </div>
      <!-- ------------------------------------------------Блок користувача-->
      <div class="username"></div>
      <!-- <div class="select-genre">
        <form>
          <select id="genres"></select>
          <select id="years"></select>
        </form>
      </div> -->

      <!--------------------------------------------------Кнопки авторицації та реєстрації -->
      <div class="authbtns">
        <button
          data-authrization-modal-open
          type="button"
          class="header__authrization-button"
        >
          Log in
        </button>
        <div class="header__backdrop is-hidden" data-authrization-modal>
          <div class="authrization-modal">
            <button
              data-authrization-modal-close
              type="button"
              class="authrization-modal__button-close"
            >
              <svg
                class="authrization-modal__button-close-icon"
                width="17"
                height="17"
              >
                <use href=".//images/icons-authorization.svg#icon-cross"></use>
              </svg>
            </button>

            <b class="authrization-modal__header"
              >Please enter authorizing credentials</b
            >

            <form
              class="authrization-modal-form js-speaker-form"
              autocomplete="on"
            >
              <div class="authrization-modal-form__field">
                <label
                  class="authrization-modal-form__label"
                  for="email-to-authorize"
                  >E-mail</label
                >
                <div class="authrization-modal-form__input-field">
                  <input
                    class="authrization-modal-form__input-email form__input"
                    type="email"
                    name="email"
                    id="email-to-authorize"
                    minlength="11"
                    placeholder="name@subdomain.dom"
                    required
                  />
                  <svg class="form__icon">
                    <use
                      href=".//images/icons-authorization.svg#icon-mail4"
                    ></use>
                  </svg>
                </div>
              </div>

              <div class="authrization-modal-form__field">
                <label
                  class="authrization-modal-form__label"
                  for="password-to-authorize"
                  >Password</label
                >
                <div class="authrization-modal-form__input-field">
                  <input
                    class="authrization-modal-form__input-password form__input"
                    type="password"
                    name="password"
                    id="password-to-authorize"
                    placeholder="(6 characters minimum)"
                    minlength="6"
                    required
                  />
                  <svg class="form__icon">
                    <use
                      href=".//images/icons-authorization.svg#icon-lock"
                    ></use>
                  </svg>
                </div>
              </div>
              <div class="submit">
                <button class="authrization-modal__button-submit" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <button
          data-sign-in-modal-open
          type="button"
          class="header__sign-in-button"
        >
          Sign in
        </button>
        <div class="header__backdrop is-hidden" data-sign-in-modal>
          <div class="sign-in-modal">
            <button
              data-sign-in-modal-close
              type="button"
              class="sign-in-modal__button-close"
            >
              <svg
                class="sign-in-modal__button-close-icon"
                width="17"
                height="17"
              >
                <use href=".//images/icons-authorization.svg#icon-cross"></use>
              </svg>
            </button>

            <b class="sign-in-modal__header"
              >Please enter your sign-in information
            </b>
            <form class="sign-in-modal-form js-speaker-form" autocomplete="on">
              <div class="sign-in-modal-form__field">
                <label class="sign-in-modal-form__label" for="name">Name</label>
                <div class="sign-in-modal-form__input-field">
                  <input
                    class="sign-in-modal-form__input-name form__input"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="name"
                    required
                  />
                  <svg class="form__icon">
                    <use
                      href=".//images/icons-authorization.svg#icon-user"
                    ></use>
                  </svg>
                </div>
              </div>
              <div class="sign-in-modal-form__field">
                <label class="sign-in-modal-form__label" for="email-to-sign-in"
                  >E-mail</label
                >
                <div class="sign-in-modal-form__input-field">
                  <input
                    class="sign-in-modal-form__input-email form__input"
                    type="email"
                    name="email-to-sign-in"
                    id="email-to-sign-in"
                    minlength="11"
                    placeholder="name@subdomain.dom"
                    required
                  />
                  <svg class="form__icon">
                    <use
                      href=".//images/icons-authorization.svg#icon-mail4"
                    ></use>
                  </svg>
                </div>
              </div>

              <div class="sign-in-modal-form__field">
                <label
                  class="sign-in-modal-form__label"
                  for="password-to-sign-in"
                  >Password</label
                >
                <div class="sign-in-modal-form__input-field">
                  <input
                    class="sign-in-modal-form__input-password form__input"
                    type="password"
                    name="password-to-sign-in"
                    id="password-to-sign-in"
                    placeholder="(6 characters minimum)"
                    minlength="6"
                    required
                  />
                  <svg class="form__icon">
                    <use
                      href=".//images/icons-authorization.svg#icon-lock"
                    ></use>
                  </svg>
                </div>
              </div>
              <div class="submit">
                <button class="sign-in-modal__button-submit" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- ------------------------------------------------Навигация/Регистрация -->

      <ul class="nav__list nav__list-library">
        <li class="header__pages-item">
          <div class="toolbar">
            <div class="theme-switch">
              <svg
                class="theme-switch-icon"
                width="20px"
                height="20px"
                role="img"
                aria-label="Іконка сонця"
              >
                <use href="./images/icons.svg#icon-sun"></use>
              </svg>
      
              <div class="theme-switch-control">
                <input
                  class="theme-switch-toggle"
                  type="checkbox"
                  name="theme"
                  id="theme-switch-toggle"
                  aria-label="Перемикач теми"
                />
                <label
                  aria-hidden="true"
                  class="theme-switch-track"
                  for="theme-switch-toggle"
                ></label>
                <div aria-hidden="true" class="theme-switch-marker"></div>
              </div>
      
              <svg
                class="theme-switch-icon"
                width="20px"
                height="20px"
                aria-label="Іконка місяця"
              >
                <use href="./images/icons.svg#icon-IcoMoon"></use>
              </svg>
            </div>
        </li>
        <li class="nav__item">
          <a class="nav__link current" href="index.html">Home</a>
        </li>
        <li class="nav__item active">
          <a class="nav__link" href="./library.html">My library</a>
        </li>
        <li class="nav__item active">
          <a class="nav__link" href="index.html" id="exit">Sign Out</a>
        </li>
      </ul>
    </div>
    <!-- ------------------------------------------------Блок користувача-->
    <!-- <div class="username"></div> -->
    <!---------------------------------------------------------Форма поиска-------- -->
    <div class="search-form__container">
      <div class="search-form__wrap">
        <form class="search-form" id="search-form">
          <input
            class="search-form__input nav__item-log-out button"
            type="text"
            autocomplete="off"
            name="searchQuery"
            placeholder="Search films..."
          />
          <button type="submit" class="search__button">
            <svg class="icon-search__logo" width="13" height="13">
              <use href="./images/icons.svg#icon-search-2"></use>
            </svg>
          </button>
        </form>
        <!---------------------------------------------------Кнопки вибору мови-------- -->

        <ul class="language-btn__list">
          <li class="language-btn__item">
            <button class="language-btn language" id="en">EN</button>
          </li>
          <li class="language-btn__item">
            <button class="language-btn language" id="uk">UA</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="choice-genre__wrap select-genre">
        <form>
          <select class="choice-select" id="genres"></select>
          <select class="choice-select" id="years"></select>
        </form>
      </div>
  </div>
</header>
