<header class="header_lib" id="header">
  <div class="header__bg">
    <div class="container_lib container">
      <nav class="header__lib-nav">
        <div class="header__wrap">
          <!-- ---------------------------------------------Логотип---- -->
          <div class="logo__wrap">
            <a href="./index.html" class="logo__icon link">
              <svg
                class="header__logo-svg"
                width="28"
                height="30
              "
              >
                <use href="./images/icons.svg#icon-film-home"></use>
              </svg>
              <p class="logo__text">Filmoteka</p>
            </a>
            <div class="username"></div>
          </div>
          <!-- ----------------------------------------------------------- -->
        </div>
        <div class="header__pages">
          <ul class="header__pages-list">
            <li class="header__pages-item">
              <div class="toolbar">
                <div class="theme-switch">
                  <svg
                    class="theme-switch-icon"
                    width="20px"
                    height="20px"
                    role="img"
                    aria-label="Іконка сонця"
                  >
                    <use href="./images/icons.svg#icon-sun"></use>
                  </svg>
          
                  <div class="theme-switch-control">
                    <input
                      class="theme-switch-toggle"
                      type="checkbox"
                      name="theme"
                      id="theme-switch-toggle"
                      aria-label="Перемикач теми"
                    />
                    <label
                      aria-hidden="true"
                      class="theme-switch-track"
                      for="theme-switch-toggle"
                    ></label>
                    <div aria-hidden="true" class="theme-switch-marker"></div>
                  </div>
          
                  <svg
                    class="theme-switch-icon"
                    width="20px"
                    height="20px"
                    aria-label="Іконка місяця"
                  >
                    <use href="./images/icons.svg#icon-IcoMoon"></use>
                  </svg>
                </div>
            </li>
            <li class="header__pages-item">
              <a class="header__pages-link" href="./index.html">home</a>
            </li>
            <li class="header__pages-item current">
              <a class="header__pages-link" href="">my library</a>
            </li>
            <li class="header__pages-item">
              <a class="header__pages-link" href="index.html" id="exit"
                >Sign Out</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="search-form__wraplib_lib">
        <form class="search-form search-form__style" id="search-form">
          <input
            class="nav__item-button nav__item-log-out button input-style"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search films..."
          />
          <button type="submit" class="search__button search__button-style">
            <svg class="header__logo" width="10" height="10">
              <use href="./images/icons.svg#icon-search-2"></use>
            </svg>
          </button>
        </form>
      </div>

      <div class="username"></div>
      <div class="header__btn" id="header_btn">
        <form>
          <ul class="header__btn-list">
            <li class="header__btn-item">
              <button class="header__btn-style" id="watched">watched</button>
            </li>
            <li class="header__btn-item">
              <button class="header__btn-style active-but" id="favorite">queue</button>
            </li>
          </ul>
        </form>
      </div>
      <!---------------------------------------------------Кнопки вибору мови-------- -->

      <ul class="language-btn__list">
        <li class="language-btn__item">
          <button class="language-btn language" id="en">EN</button>
        </li>
        <li class="language-btn__item">
          <button class="language-btn language" id="uk">UA</button>
        </li>
      </ul>
    </div>
  </div>
</header>
