<header class="header">
  <div class="header__conteiner conteiner">
    <div class="header__wrap">
        <div class="logo__wrap">
        <a href="./index.html" class="header__logo-link link">
        <svg class="header__logo" width="24" height="24">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>
      <h1 class="text__logo"><a href="/">Filmoteka</a></h1>
      </div>
      <div class="search-form__wrap">
      <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search films..."
      />
      <button type="submit">
      </button>
      </div>
      <div class="menu__wrap">
      <a class="Home_link" href="/">Home</a>
      <a class="Home_link" href="/">MY LIBRARY</a>
      </div>
    </div>
  </div>
</header>
