<div class="trailer__box trailer__box--hidden">
    <div class="trailer__window"></div>
    <button class="trailer__close-btn" aria-label="Close">      
        <svg width="48" height="48">            
            <use href="./images/icons.svg#icon-exit"></use>
        </svg>
    </button> 
    <div class="loader-ellips spinner-modal is-hidden">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
    </div>
</div>