<section class="section">
  <!-- <div class="container">
      <h1>Button Test</h1>
      <button class="language active-btn" data-lang="en-US" id="en">EN</button>
      <button class="language" data-lang="uk-UA" id="uk">UK</button> -->
  <!-- <ul class="gallery"></ul> -->
  <!-- <div class="container">
    <h1>Button Test</h1>
    <button class="language" id="en">EN</button>
    <button class="language" id="uk">UK</button> -->
  <!-- <ul class="gallery"></ul> -->
  <!-- </div> -->
  <!-- <div class="button__thumb">
    <div class="rotating-button__wrapper">
      <label>
        <input
          type="checkbox"
          name="queue"
          class="rotating-button__checkbox js-queue"
          data-label="queue"
        />
        <span type="button" class="rotating-button__button-on"
          >Remove from queue</span
        >
        <span type="button" class="rotating-button__button-off"
          >Add to queue</span
        >
      </label>
    </div>
    <div class="rotating-button__wrapper">
      <label>
        <input
          type="checkbox"
          name="watched"
          class="rotating-button__checkbox js-watched"
          data-label="watched"
        />
        <span type="button" class="rotating-button__button-on"
          >Remove from watched</span
        >
        <span type="button" class="rotating-button__button-off"
          >Add to watched</span
        >
      </label>
    </div>
  </div> -->
</section>
