.authbtns{
    @include mobile{
    display: flex;
    flex-direction: column;
    }
    @include tablet{
    display: flex;
    flex-direction: row;
    }
}

.header__authrization-button,
.header__sign-in-button{
    padding: 4px;

    max-width: 75px;
    display: inline-block;

    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: transparent;


    color: var(--header-color-text);

    cursor: pointer;
    
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: #FF6B01;
        border: 1px solid transparent;
        }

};

.header__authrization-button{
    @include mobile{
        margin-bottom: 4px;
        font-size: 10px;
        line-height: 14px;
        
    }
    @include tablet{
    margin-right: 7px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
    }
    @include desktop{
        margin-left: 155px;
    }
};

.header__sign-in-button{
    @include mobile{
        font-size: 10px;
        line-height: 14px;
    }
    @include tablet{
    margin-left: 0;
    font-size: 12px;
    line-height: 16px;
    }
};


.header__backdrop {
    position: fixed;
    z-index: 3;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: all 250ms linear, transform 250ms linear;

    @include mobile{
        overflow-y: scroll;
    }
};

.header__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.2);
    transition: all 250ms linear;
};

.authrization-modal,
.sign-in-modal {
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    // padding-top: 40px;
    // padding-bottom: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        max-width: 528px;
        width: 100%;
        
        background: #FFFFFF;
        border-radius: 5px;
        outline: tomato solid 2px;
        
    @include mobile {
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 30px);
    }

    @include tablet{
        padding-bottom: 40px;
        padding-top: 40px;
        max-width: 450px;
        width: 100%;
        position: relative;
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        
        }
    

    @include desktop{
        padding-top: 40px;
        padding-bottom: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        max-width: 528px;
        width: 100%;
        // min-height: 581px;
    }
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
};

.authrization-modal__button-close,
.sign-in-modal__button-close {
    width: 30px;
    height: 30px;
    background: var(--background-grey);
    border: none;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    position: absolute;
    @include mobile {
        margin-top: 8px;
        margin-right: 8px;
    }

    display: flex;
    justify-content: center;
    text-align: center;

    transition-property: cursor, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        cursor: pointer;
        fill: var(--accent-color);
        }
};


.authrization-modal__header , 
.sign-in-modal__header {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;

    display: block;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--card-title-text-color);
};

.submit{
    display: flex;
    margin-left: auto;
    margin-right: auto;
};

.authrization-modal__button-submit, 
.sign-in-modal__button-submit {
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

    background: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.50);
    
    // border: 1px solid #000000;
    border-radius: 5px;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #000000;
    border: 0;
    cursor: pointer;
    


    transition-property: filter, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-color: var(--accent-color);
        color: #FFFFFF
        }
};

.authrization-modal-form__field, 
.sign-in-modal-form__field {
    display: flex;
    flex-direction: column;

    &:not(:last-child){
        margin-bottom: 20px;
    } 
};

.authrization-modal-form__label, 
.sign-in-modal-form__label {
    margin-bottom: 6px;
    margin-top: 0;

    display: block;
    text-align: left;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #000000;
};

.authrization-modal-form__input-field, 
.sign-in-modal-form__input-field {
    display: flex;
    flex-direction: column;
    position: relative;

};

.authrization-modal-form__input-email, 
.authrization-modal-form__input-password,
.sign-in-modal-form__input-name,
.sign-in-modal-form__input-email,
.sign-in-modal-form__input-password{
    margin: 0;

    display: block;
    font-weight: 400;
    font-size: 16px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus+.form__icon {
        fill:  var(--accent-color);
        }
    
    @include mobile{
        &:focus {
        margin-right: 19px;
        margin-left: 19px;
        padding-left: 35px;
        outline: none;
        border-color: var(--accent-color);
        max-height: 40px;
        display: block;
        font-weight: 400;
        font-size: 16px;}
    }
    @include tablet{
    &:focus {
        margin-right: 30px;
        margin-left: 30px;
        padding-left: 36px;
        
        outline: none;
        border-color: var(--accent-color);
        max-height: 40px;
        display: block;
        max-width: 402px;
        font-weight: 400;
        font-size: 16px;
    }
}
    @include desktop{
    &:focus {
        margin-right: 40px;
        margin-left: 40px;
        padding-left: 35px;
        }
    }

};




.form__icon {
    display: block;
    margin: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    left: 12px;
    right: 12px;

    fill: #212121;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
};