.error-text {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  @include mobile {
    font-size: 24px;
  }
  @include tablet {
    font-size: 32px;
  }
  @include desktop {
    font-size: 50px;
  }
}
.return-hp-link {
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
}

.error-img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
