$time-function: cubic-bezier(0.4, 0, 0.2, 1);

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    overflow: auto;

    visibility: visible;
    opacity: 1;

    width: 100vw;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);

    transition: opacity 500ms $time-function,
        transform 500ms $time-function;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: scale(1.2);
    
        transition: opacity 500ms $time-function,
            transform 500ms $time-function,
            visibility 500ms $time-function;
    }

    .dark-theme & {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.footer-modal {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);

    max-width: 450px;
    width: 100%;

    padding: 40px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (max-height: 610px) and (orientation: landscape) {
        top: 20px;
    }

    @include tablet {
        top: 80px;
        max-width: 800px;
    }
    
    @include desktop {
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 1200px;
    }

    .dark-theme & {
        background-color: #353535;
        box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.12), 0px 1px 1px rgba(255, 255, 255, 0.12), 0px 2px 1px rgba(255, 255, 255, 0.2);
    }
}

.footer-modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 25px;
    height: 25px;

    background-color: transparent;
    border: none;

    &:hover, &:focus {
        transform: none;
    }
}

.modal__close-icon {
    stroke: black;

    transition: stroke 250ms $time-function;

    .footer-modal__close-btn:hover &, 
    .footer-modal__close-btn:focus & {
        stroke: var(--accent-color);
    }

    .dark-theme & {
        stroke: var(--header-color-text);  
    }

    .dark-theme .footer-modal__close-btn:hover &, 
    .dark-theme .footer-modal__close-btn:focus & {
        stroke: var(--dark-mode-shadow);
    }
}

.footer-modal__team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-modal__member-card {
    position: relative;
    width: calc((100% - 20px)/2);
    min-width: 150px;

    border-radius: 5px;

    transition: box-shadow 250ms $time-function,
    transform 250ms $time-function;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    }

    .dark-theme &:hover {
        box-shadow: 0px 4px 8px 0px var(--dark-mode-shadow);
    }

    @include tablet {
        width: calc((100% - 40px)/3);
    }
    
    @include desktop {
        width: calc((100% - 80px)/5);
    }
}

.footer-modal__img-container {
    display: flex;
    justify-content: center;
}

.footer-modal__image {
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @include tablet {
        height: 260px;
    }
}

.footer-modal__card-text {
    padding: 5px;

    @include tablet {
        padding: 7px;
    }
    
    @include desktop {
        padding: 10px;
    }
}

.footer-modal__card-title {
    margin-bottom: 3px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--card-title-text-color);

    @include tablet {
        line-height: 1.33;
    }

    @include desktop {
        font-size: 14px;
        line-height: 1.2;
    }

    .dark-theme & {
        color: var(--header-color-text);
    }
}

.footer-modal__member-role {
    margin-bottom: 6px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--card-title-text-color);

    @include tablet {
        line-height: 1.33;
    }

    @include desktop {
        margin-bottom: 10px;
        
        font-size: 12px;
        line-height: 1.2;
    }

    .dark-theme & {
        color: var(--header-color-text);
    }
}

.footer-modal__card-genres {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: capitalize;

    color: var(--card-genres-year-text-color);

    @include desktop {
      font-size: 14px;
      line-height: 1.2;
    }

    .dark-theme & {
        color: var(--dark-mode-shadow);
    }
}

.footer-modal__card-rating {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 20px;
    border-radius: 4px;

    background-color: var(--accent-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;

    .dark-theme & {
        background-color: var(--dark-mode-background-color);
        color: var(--header-color-text);
    }
}

.footer-modal-opened {
    overflow: hidden;
    touch-action: none;
}