.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  outline: 1px solid tomato;
  @include mobile {
    max-width: 320px;
  } 
  @include tablet {
    padding: 0 32px;
    max-width: 768px;
  }
  @include desktop {
    padding: 0 32px;
    max-width: 1200px;
  }
}