.header {
  height: 240px;
  @include mobile {
    background-image: url('./../images/header-bg/header320.jpg');
    @include retina {
      background-image: url('./../images/header-bg/header320@2x.jpg');
    }
  }

  @include tablet {
    background-image: url('./../images/header-bg/header768.jpg');
    @include retina {
      background-image: url('./../images/header-bg/header768@2x.jpg');
    }
  }

  @include desktop {
    background-image: url('./../images/header-bg/header1280.jpg');
    @include retina {
      background-image: url('./../images/header-bg/header1280@2x.jpg');
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
}
// -------------------------------------------------Контейнер-------
.header {
  position: relative;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// --------------------------------------------------Логотип---------------
.logo__wrap {
  position: relative;
  // align-items: center;
}

.logo-home__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  align-items: center;
  color: var(--header-color-text);
  font-family: 'Roboto';
  font-size: 23px;
  line-height: 1.16;
}

.header-home__logo {
  margin-right: 10px;
}

.logo-home__text {
  font-size: 34px;
  display: none;
  @include tablet {
    display: block;
  }
}
// ------------------------------------------------навигация------
.nav__list {
  display: none;
  @include tablet {
  }
}

.nav__item :hover,
:focus {
  transform: scale(1.2);
}

.nav__item:not(:first-child) {
  margin-left: 39px;
}

.nav__link {
  @include mobile {
    font-size: 10px;
  }
  @include tablet {
    font-size: 12px;
  }
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  display: flex;
  text-transform: uppercase;
  color: var(--header-color-text);
}
// ----------------------------------------------форма поиска------------------------
.search-form__container {
  display: flex;
  justify-content: center;
}

.search-form__wrap {
  position: relative;
  display: flex;
  align-items: baseline;
  @include mobile {
    padding-top: 70px;
  }

  @include tablet {
    padding-top: 50px;
  }
  @include desktop {
    padding-top: 40px;
  }
}

.search-form__input {
  height: 20px;
  font-weight: 400;
  font-size: 17px;
  color: var(--header-color-text);
  background: none;
  border: none;
  border-bottom: 0.5px solid var(--header-color-text);
  padding: 0 0 4px 1px;
  outline: none;
  resize: none;
  overflow: hidden;
  transform: none;

  @include mobile {
    width: 200px;
  }
  @include tablet {
    width: 350px;
  }
  width: 380px;
}

.search-form__input::placeholder {
  color: var(--header-color-text);
}

.icon-search__logo {
  margin-left: -13px;
  color: var(--header-color-text);
}

.search__button {
  padding: 0 0 4px 1px;
  bottom: 6px;
  border: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: 0.5px solid var(--header-color-text);
  cursor: pointer;
  transition: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    stroke: var(--card-genres-year-text-color);
    transform: scale(1.2);
  }
}

// <!---------------------------------------------------Кнопки вибору мови-------- -->

.language-btn__list {
  display: flex;
  margin-left: 10px;
}

.language-btn__item:not(:first-child) {
  margin-left: 4px;
}

.language-btn {
  padding: 4px;
  max-width: 75px;
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--header-color-text);
  cursor: pointer;
  border: 1px solid var(--header-color-text);
  border-radius: 5px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
// <!-- ------------------------------------------------Блок користувача-->
.username {
  @include mobile {
    top: 35px;
    left: 0px;
  }

  @include tablet {
    left: 60px;
  }
  @include desktop {
    left: 60px;
  }
  // left: 60px;
  display: block;
  position: absolute;
  font-family: inherit;
  font-weight: bold;

  padding: 3px 3px;
  font-family: inherit;
  color: var(--accent-color);
  font-size: 16px;
}

// ----------------------------------------Вибір жанру та року----
.choice-genre__wrap {
  @include mobile {
    top: 190px;
  }

  @include tablet {
    top: 180px;
  }
  @include desktop {
    top: 175px;
  }
  position: absolute;
  // top: 180px;
}

// .choice-genre {
// }

.choice-select {
  font-family: inherit;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--header-color-text);
  border-radius: 5px;
  transform: none;
}
// .choice-select option {
//   // background-color: rgba(21, 197, 35, 0.767);
// }
