.header__bg {
  @include mobile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('./../images/header-lib/library320.jpg');
    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('./../images/header-lib/library320@2x.jpg');
    }
  }

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('./../images/header-lib/library768.jpg');
    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('./../images/header-lib/library768@2x.jpg');
    }
  }
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-lib/library1024.jpg');
    @include retina {
      background-image: url('./../images/header-lib/library1024@2x.jpg');
    }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container_lib {
  padding-top: 40px;
  height: 216px;
  background-repeat: no-repeat;
  background-size: cover;
  @include tablet {
    height: 219px;
    // background-position: center;
  }
  @include desktop {
    height: 216px;
    background-position: center;
  }
}

.logo__icon {
  display: flex;
  font-weight: 500;
  align-items: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 1.16;
}

.header__logo-svg {
  margin-right: 10px;
}

.logo__text {
  font-size: 34px;
}

.header__btn-style {
  width: 130px;
  height: 44px;
  background-color: inherit;
  color: #ffffff;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid;
  @include tablet {
    width: 152px;
    height: 44px;
  }
  @include desktop {
    width: 148px;
    height: 42px;
  }
}

.header__btn-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 56px;
  @include tablet {
    margin-top: 50px;
  }
}

.header__btn-item:not(:last-child) {
  margin-right: 20px;
  @include tablet {
    margin-right: 32px;
  }
  @include desktop {
    margin-right: 16px;
  }
}

.active-but {
  background-color:  #ff6b01;
  border: 1px solid #000000;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14),
    1px 3px 2px rgba(0, 0, 0, 0.2);
    .dark-theme & {  
      background-color:  #ab1a1a;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
}

.header__btn-style:hover,
.header__btn-style:focus {
  background-color: #ff6b01;
  border: 1px solid #000000;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.header__pages-list {
  display: flex;
  align-items: center;
}

///////////  icon-style ///////////////
.header__change-color {
  // fill: #ffffff;
  text-align: center;
}

.btn__icon-lib {
  padding: 0px;
  border: none;
  background-color: inherit;
  justify-content: center;
}

///////////////////////////////////////

.header__pages-link {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  // align-items: center;
  // text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.header__pages-item:not(:first-child) {
  margin-left: 39px;
}

.header__lib-nav {
  display: flex;
  align-items: center;
}

.header__pages {
  margin-left: auto;
}

.current {
  position: relative;
}

.current:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -2px;
  background-color: #ff6b01;
}

.logo__text {
  display: none;
  @include tablet {
    display: block;
  }
}

//////////////////////////////   FORM_STYLE /////////////////////

.search-form__wraplib_lib .search-form{
  display: none;

}

.search-form__wraplib {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  @include tablet {
    justify-content: end;
    margin-top: 10px;
  }
}

.input-style {
  background-color: transparent;
  border: none;
  transform: none;
  // border-bottom: 1px solid #FF6B01;
  @include tablet { 
    width: 140px;
  }
}

.search__button-style {
  border: none;
  cursor: pointer;
  background-color: transparent;
  // border-bottom: 1px solid #FF6B01;
}

.search-form__style {
  border-bottom: 2px solid #ff6b01;
}

.input-style:focus {
  outline: none;
  color: #ffffff;
  opacity: 0.5;
}


