.modal {
    // position: absolute;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    // top: 0;
    // left: 50%;
    // transform: translate(-50%);
    width: 90%;
    max-height: 940px;
    max-width: 480px;
    padding: 0;
    overflow: auto;
    // background-color: ;
    border-radius: 5px;
    outline: 2px solid tomato;   
  }

  .info-modal {
    display: block;
    outline: 2px solid lightblue;
  }
  .tomato {
    color: tomato;
    background-color: tomato;
  }