.light-theme { 
background-color: rgb(255, 255, 255);
}


.dark-theme { 
    background-color: #000;
    }

.dark-theme .header__change-color{
        fill: #fbff02;
    }

.dark-theme .header__bg {
background-image: linear-gradient(rgba(255, 255, 255, 0.56),rgba(255, 255, 255, 0.56)), url('../images/header-lib/library1024.jpg');
}


.dark-theme .header__btn-style{
    border: 1px solid #000000;
}